<!DOCTYPE html>

{% load static %}

<html>
<head>
	<title>Foro Estudiantil</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">	
</head>
<body>

	<header class="main-head">
		<nav class="main">
			<img src="{% static 'Logo.png' %}" alt="No se pudo cargar el logo :(">
			<h1 id="logo">Foro Estudiantil</h1>
			
			<ul>
				<li><a href="{% url 'feed' %}">Home</a></li>
				
				{% if guest.is_authenticated %}
				<li><a href="{% url 'logout' %}">Logout</a></li>

				{% else %}

				<li><a href="{% url 'register' %}">Register</a></li>
				<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>

	{% if messages %}
		{% for message in messages %}
			<div class="notification {{message.tags}}">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}

	<div class="main">
		
		<nav class="second-nav">
			{% if guest.is_authenticated %}

			
			{% if not request.path|slice:":8" == "/profile" %}
			<!-- if url is not proflile -->
			<a class="profile" href="{% url 'profile'%}">Mi Perfil</a>
			{% endif %}
			
			<a class="new" href="{% url 'post' %}">Crear nuevo post</a>
			{% endif %}
		</nav>


		{% block content %}

		{% endblock content %}



	</div>

	<footer>
		<div class="row">
			<p>Hecho por <a href="https://github.com/Luchiwis/"> Lucio Petrucci</a></p>
		</div>
	</footer>

</body>
</html>